*::-webkit-input-placeholder {
	color: #4f5354;
	opacity: 1;
}
*:-moz-placeholder {
	color: #4f5354;
	opacity: 1;
}
*::-moz-placeholder {
	color: #4f5354;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #4f5354;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Cera Pro'; 
	font-size: 16px;
	overflow-x: hidden; 
	margin: 0;
	background-color: #fff;
	color: #4f5354;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header-top {
	padding: 11px 0;
	background-color: #324448;
	color: #fff;
}
.header-top__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 11px;
	color: #fff;
	transition: all 0.3s;
	margin-right: 5px;
}
.rating_1 > *:nth-child(1) .rating__item {
	color: #b6cdb1;
}
.rating_2 > *:nth-child(-n+2) .rating__item {
	color: #b6cdb1;
}
.rating_3 > *:nth-child(-n+3) .rating__item {
	color: #b6cdb1;
}
.rating_4 > *:nth-child(-n+4) .rating__item {
	color: #b6cdb1;
}
.rating_5 > *:nth-child(-n+5) .rating__item {
	color: #b6cdb1;
}
strong {
	font-weight: 700;
}
.rating-site__descr {
	font-size: 14px;
	line-height: 1.2;
	margin-left: 11px;
}
.rating-site {
	display: flex;
	align-items: center;
}
.list-language {
	font-size: 14px;
	line-height: 1.2;
	display: flex;
	align-items: center;
}
.list-language li a {
	padding: 0 15px;
	border-right: 1px solid rgba(255,255,255,0.3);
	color: #fff;
}
.list-language li:first-child a  {
	border-left: 1px solid rgba(255,255,255,0.3);	
}
.header-middle__center {
	text-align: center;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 125px;
	height: auto;
	display: block;
}
.header-middle {
	padding: 20px 0;
}
.search-form {
	width: 310px;
	max-width: 100%;
	position: relative;
}
.search-form input {
	height: 38px;
	width: 100%;
	font-size: 12px;
	line-height: 1.2;
	padding-left: 5px;
	padding-right: 25px;
	font-weight: 500;
	font-family: 'Cera Pro';
	border: none;
	border-bottom: 1px solid #c7c1b5;
	background-color: transparent;
}
.btn-search {
	width: 20px;
	height: 100%;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #737373;
	position: absolute;
	top: 0;
	right: 0;
}
.buttons-header {
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.btn-header {
	font-size: 20px;
	margin-right: 42px;
	position: relative;
	color: #737373;
	transition: all 0.3s;
}
.btn-header:last-child {
	margin-right: 0;
}
.btn-header__value {
	top: -5px;
	right: -14px;
	font-size: 14px;
	font-weight: 700;
	width: 20px;
	height: 20px;
	background-color: #6c8b8d;
	border-radius: 50%;
	color: #ffffff;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.header-bottom {
	background-color: #f1f3f0;
}
.menu {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 500;
	color: #4f5354;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a {
	padding: 21px 0;
	display: inline-block;
	transition: all 0.3s;
	color: #4f5354;
	position: relative;
}
.menu a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #4f5354;
	transition: all 0.3s;
	right: 0;
	margin: 0 auto;
}
.menu a:hover::after {
	width: 100%;
}
.billbord {
	padding-top: 55px;
	min-height: 560px;
	color: #fff;
	background-image: url(../img/bg_billlbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-big {
	font-size: 92px;
	line-height: 76px;
	font-weight: 700;
	font-family: 'Bebas Neue';
}
.title-big span {
	font-size: 61px;
	display: block;
}
.title-big strong {
	font-size: 80px;
	line-height: 89px;
	display: block;
}
.descr-big {
	font-size: 20px;
	line-height: 30px;
	padding-top: 10px;
	max-width: 370px;
	color: #ffffff;
}
.btn-main {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	padding: 0 58px;
	height: 61px;
	background-color: #6c8b8d;
	border-radius: 6px;
	font-family: 'Cera Pro';
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #4b9ea3;
}
.billbord .btn-main {
	margin-top: 50px;
}
.item-advantage {
	font-size: 15px;
	padding-left: 55px;
	line-height: 1.2;
	max-width: 290px;
	font-weight: 500;
	color: #4f5354;
	position: relative;
}
.item-advantage__title {
	font-size: 18px;
	margin-bottom: 20px;
}
.item-advantage__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
}
.item-advantage__icon img {
	max-width: 100%;
	height: auto;
}
.advantages {
	padding: 60px 0;
}
.title-section {
	font-size: 61.2px;
	line-height: 76px;
	color: #324448;
	font-family: 'Bebas Neue';
}
.category {
	padding-top: 65px;
	padding-bottom: 58px;
}
.item-category__text {
	font-size: 36px;
	line-height: 1.2;
	font-family: 'Bebas Neue';
	color: #6c8b8d;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.item-category__image {
	height: 480px;
	margin-bottom: 30px;
	display: block;
	overflow: hidden;
}
.item-category__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-category__image:hover img {
	transform: scale(1.05);
}
.item-category {
	display: block;
}
.row_category > div {
	padding: 0 33px;
	margin-top: 55px;
}
.row_category {
	margin: 0 -33px;
}
.bottom-btn {
	text-align: center;
}
.btn-main_transparent {
	border: 2px solid #324448;
	background-color: transparent;
	border-radius: 0;
	color: #324448;
}
.btn-main_transparent:hover {
	color: #fff;
	background-color: #324448;
}
.category .bottom-btn {
	padding-top: 75px;
}
.category .bottom-btn .btn-main {
	padding: 0 52px;
}
.item-catalog__oldprice {
	font-size: 18px;
	font-family: 'Bebas Neue';
	text-decoration: line-through;
	color: #b6cdb1;
}
.item-catalog__price {
	font-size: 30px;
	top: 7px;
	right: 0;
	position: absolute;
	font-family: 'Bebas Neue';
	color: #6c8b8d;
}
.item-catalog__bottom {
	padding-top: 7px;
	line-height: 44px;
	position: relative;
	border-top: 1px solid #f1f3f0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__name {
	font-size: 18px;
	padding: 22px 0;
	line-height: 1.2;
	font-weight: 500;
	color: #324448;
	text-align: center;
	display: block;
}
.item-catalog__image {
	height: 530px;
	background-color: #4f5354;
	display: block;
	overflow: hidden;
}
.item-catalog__image img {
	height: 100%;
	width: 100%;
	object-fit: cover; 
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog:hover .item-catalog__image img {
	transform: scale(1.05);
}
.item-catalog {
	display: block;
}
.slider-wrap-catalog {
	padding: 0 95px;
	max-width: 1920px;
	margin: 0 auto;
}
.slider-catalog .item-catalog {
	margin: 0 25px;
}
.slider-catalog {
	margin: 0 -25px;
}
.title-section_center {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.products {
	padding-bottom: 47px;
}
.products .bottom-btn {
	padding-top: 45px;
}
.products .bottom-btn .btn-main {
	padding: 0 32px;
	min-width: 232px;
}
.section-gray {
	background-color: #f1f3f0;
}
.link-insta {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #6c8b8d;
	text-align: center;
	display: inline-block;
}
.link-insta i {
	font-size: 24px;
	margin-bottom: 4px;
}
.instagram {
	padding-bottom: 67px;
}
.align-center {
	text-align: center;
}
.instagram .title-section_center {
	padding-bottom: 14px;
}
.item-insta {
	position: relative;
	display: block;
	padding-top: 100%;
}
.item-insta__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.item-insta__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-insta:hover .item-insta__image img {
	transform: scale(1.05);
}
.row_insta > div {
	margin-top: 25px;
}
.item-question__head {
	padding: 19px 0;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
}
.item-question__name {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	color: #324448;
}
.item-question__icon {
	font-size: 14px;
	color: #6c8b8d;
}
.item-question__icon i {
	transition: all 0.3s;
}
.item-question.active .item-question__icon i {
	transform: rotate(180deg);
}
.item-question {
	border-top: 1px solid #f1f3f0;
}
.item-question:last-child {
	border-bottom: 1px solid #f1f3f0;
}
.item-question__content {
	line-height: 24px;
	padding-bottom: 30px;
	color: #4f5354;
	display: none;
}
.questions {
	padding-bottom: 58px;
}
.questions .title-section_center {
	padding-bottom: 30px;
}
.reviews {
	padding-top: 37px;
	padding-bottom: 42px;
	background-color: #fbfaf8;
}
.logo-trustpilot {
	width: 156px;
	margin-bottom: 6px;
	max-width: 100%;
	display: inline-block;
}
.logo-trustpilot img {
	margin-bottom: 5px;
	max-width: 100%;
}
.name-review {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	color: #4f5354;
}
.item-review__head {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.stars-review {
	width: 89px;
}
.stars-review img {
	max-width: 100%;
	height: auto;
}
.item-review {
	font-size: 14px;
	line-height: 21px;
	max-width: 362px;
}
.item-review .name-review {
	margin-top: 10px;
}
.slider-reviews {
	margin-top: 15px;
	margin-left: -50px;
}
.footer {
	padding-top: 38px;
	background-color: #324448;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}
.footer__subtitle,
.footer__title {
	font-size: 18px;
	padding-bottom: 20px;
	line-height: 1.2;
	font-weight: 500;
}
.footer-list a {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.footer-list a:hover {
	border-color: #fff;
}
.footer-list li {
	margin-bottom: 15px;
}
.footer__center .footer-list {
	columns: 2;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social li a {
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #4f5354;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.list-social li {
	margin-right: 18px;
}
.footer__subtitle {
	margin-top: 35px;
}
.list-payments {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-payments li {
	margin-right: 12px;
}
.list-payments li:last-child {
	margin-right: 0;
}
.list-payments__item {
	width: 63px;
	height: 35px;
	padding: 3px;
	background-color: #ffffff;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-payments__item img {
	max-width: 100%;
	max-height: 100%;
}
.footer .btn-main  {
	margin-top: 35px;
	padding: 0 20px;
	width: 100%;
	max-width: 310px;
}
.create {
	padding-right: 20px;
	letter-spacing: 0.25px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.create img {
	max-width: 60px;
	margin-left: 15px;
}
.footer__bottom {
	padding: 15px 0;
	margin-top: 40px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	border-top: 1px solid rgba(255,255,255,0.2);
}
.footer__bottom a {
	color: #fff;
}
.align-right {
	text-align: right;
}
.slick-dots li {
	width: 8px;
	height: 8px;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	border: none;
	padding: 0;
	background-color: #6c8b8d;
	transition: all 0.3s;
}
.slick-dots li.slick-active button,
.slick-dots li button:hover {
	background-color: #324448;
}
.slick-dots {
	bottom: 0;
}
.slider-nav__item {
	margin: 10px 0;
	height: 162px;
	cursor: pointer;
}
.slider-for__item img,
.slider-nav__item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-nav {
	max-width: 130px;
}
.slider-for {
	max-width: 487px;
}
.slider-for__item {
	height: 617px;
	display: block;
	position: relative;
}
.slider-for__item::after {
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #324448;
	font-size: 20px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	content: "\f00e";
}
.slick-arrow {
	width: 30px;
	height: 38px;
	top: 50%;
	color: #324448 !important;
	font-size: 14px;
	background-color: #f1f3f0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slick-arrow:hover {
	background-color: #d1d1d1;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: -15px;
}
.slick-next {
	right: -15px;
}
.slider-nav .slick-arrow {
	width: 130px;
	height: 30px;
	left: 0;
	top: 0;
	transform: none;
}
.slider-nav .slick-next {
	bottom: 0;
	top: auto;
}
.slider-nav {
	padding: 30px 0;
}
.slider-for {
	margin-left: -75px;
}
.breadcumbs {
	font-size: 13px;
	line-height: 1.2;
	color: #4f5354;
	padding-top: 20px;
	padding-bottom: 25px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcumbs a {
	color: #4f5354;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.breadcumbs a:hover {
	border-color: #4f5354;
}
.breadcumbs span {
	margin: 0 10px;
}
.title-page {
	font-size: 36px;
	line-height: 1.2;
	font-family: 'Bebas Neue';
	color: #324448;
}
.prices-wrap {
	display: flex;
	align-items: flex-end;
}
.price-new {
	font-size: 30px;
	line-height: 36px;
	font-family: 'Bebas Neue';
	color: #324448;
}
.price-old {
	font-size: 18px;
	line-height: 29px;
	font-family: 'Bebas Neue';
	text-decoration: line-through;
	color: #6c8b8d;
}
.prices-wrap .price-new {
	margin-right: 25px;
}
.card__right {
	max-width: 595px;
	margin-left: -130px;
}
.card__right p {
	line-height: 24px;
}
.card .title-page {
	padding-bottom: 10px;
}
.card .prices-wrap {
	padding-bottom: 25px;
}
.item-color {
	width: 33px;
	height: 33px;
	margin: 5px 5px;
	background-color: #fff;
	border: 1px solid rgba(108,139,141,0.5);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
}
.item-color.active {
	box-shadow: 0 0 5px rgba(108,139,141,0.5);
}
.list-colors {
	margin: 0 -5px;
	max-width: 535px;
}
.list-colors-modal .slick-arrow,
.list-colors .slick-arrow {
	width: 33px;
	height: 33px;
	border-radius: 50%;
}
.list-colors-modal .slick-next,
.list-colors .slick-next {
	right: -50px;
}
.list-colors-modal .slick-prev,
.list-colors .slick-prev {
	left: 5px;
}
.list-colors-modal .slick-arrow.slick-disabled,
.list-colors .slick-arrow.slick-disabled {
	opacity: 0;
}
.card__head {
	padding-top: 20px;
	padding-bottom: 11px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list-sizes {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.item-size {
	min-width: 45px;
	height: 45px;
	padding: 0 13px;
	display: flex;
	font-size: 18px;
	margin-right: 17px;
	color: #4f5354;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(157,192,173,0.0);
	border: 1px solid rgba(108,139,141,0.5);
	transition: all 0.3s;
	cursor: pointer;
}
.item-size:hover,
.item-size.active {
	background-color: #9dc0ad;
	border-color: #9dc0ad;
	color: #fff;
}
.item-size.disabled {
	background-color: #f6f6f6;
	border-color: #f6f6f6;
	color: rgba(79, 83, 84, 0.5);
} 
.list-sizes li:last-child .item-size {
	margin-right: 0;
}
.link-main {
	font-size: 14px;
	color: #6c8b8d;
	padding: 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px dotted #6c8b8d;
	font-family: 'Cera Pro';
	transition: all 0.3s;
}
.link-main:hover {
	border-color: transparent;
}
.sizes-wrap {
	display: inline-block;
}
.sizes-wrap__bottom {
	padding-top: 14px;
	display: flex;
	justify-content: flex-end;
}
.quantity {
	position: relative;
	display: inline-block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.quantity input {
	width: 93px;
	height: 45px;
	font-size: 18px;
	padding: 0 15px;
	line-height: 1.2;
	color: #4f5354;
	background-color: #fff;
	border: 1px solid rgba(108,139,141,0.5);
}
.quantity-button {
	width: 30px;
	height: 50%;
	top: 2px;
	right: 3px;	
	font-size: 10px;
	position: absolute;
	cursor: pointer;
	color: #324448;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
}
.quantity-down {
	bottom: 2px;
	top: auto;
}
.card-btns {
	display: flex;
	align-items: center;  
}
.btn-like {
	width: 61px;  
	height: 61px;
	color: #fff;
	font-size: 22px;
	background-color: #9dc0ad;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.btn-like:hover {
	background-color: #75a98d;
}
.btn-like.active i {
	font-weight: 900;
}
.card-btns .btn-main {
	min-width: 230px;
	margin-right: 18px;
}
.card__bottom {
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list-social_main li a {
	font-size: 18px;
	transition: all 0.3s;
	background-color: #f1f3f0;
}
.list-social_main li a:hover {
	background-color: #d1d1d1;
}
.list-social_main li {
	margin-top: 3px;
	margin-right: 11px;
}
.social-wrap .list-social {
	justify-content: center;
}
.tabs-wrap {
	max-width: 1005px;
	margin-top: 75px;
}
.tabs {
	border-top: 1px solid #f1f3f0;
	display: flex;
	align-items: center;
}
.tabs a {
	width: 250px;
	max-width: 100%;
	height: 69px;
	padding: 0 15px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #324448;
	transition: all 0.3s;
}
.tabs a:hover,
.tabs .active a {
	background-color: #fbfaf8;
}
.tab-container {
	padding: 35px;
	background-color: #fbfaf8;
}
.slider-reviews-card .item-review {
	padding-top: 15px;
	padding-bottom: 30px;
	margin-bottom: 15px;
	padding-right: 140px;
	max-width: 100%;
	border-bottom: 1px solid #f1f3f0;
}
.slider-reviews-card li:last-child .item-review {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.modal-wrap {
	padding: 23px;
	padding-bottom: 28px;
	margin: 0 auto;
	max-width: 100%;
	background-color: #f6f6f6;
}
#modal-size .modal-wrap {
	width: 342px;
}
#modal-parametrs .modal-wrap {
	width: 465px;
}
.title-modal {
	line-height: 1.2;
	font-weight: 500;
	padding-bottom: 25px;
	color: #324448;
	text-align: center;
}
.title-modal span {
	display: block;
	font-weight: 400;
}
.modal-block {
	display: none;
}
.fancybox-skin {
	padding: 0 !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
.item-form textarea,
.jq-selectbox__select-text,
.item-form input {
	width: 100%;
	height: 45px;
	font-size: 13px;
	padding: 0 14px;
	font-family: 'Cera Pro';
	color: #4f5354;
	background-color: #ffffff;
	border: 1px solid rgba(108,139,141,0.5);
}
.item-form textarea {
	resize: none;
	padding-top: 5px;
}
.jq-selectbox__dropdown {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgba(108,139,141,0.5);
}
.jq-selectbox__dropdown li {
	font-size: 13px;
	padding: 2px 10px;
	cursor: pointer;
}
.jq-selectbox__select-text {
	padding-right: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.jqselect {
	width: 100%;
	display: block !important;
}
select {
	opacity: 0;
}
.item-form  {
	margin-bottom: 20px;
}
.modal-wrap .row {
	margin: 0 -7px;
}
.modal-wrap .row > div {
	padding: 0 7px;
}
.modal-wrap__button .btn-main {
	padding: 0 19px;
	font-size: 12px;
	font-weight: 700;
	height: 44px;
	min-width: 197px;
}
.modal-wrap__button {
	text-align: center;
}
.fancybox-inner {
	overflow: visible !important;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 100%;
	color: #324448;
	cursor: pointer;
	font-size: 10px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 500;
	font-family: "Font Awesome 5 Pro";
}
.jq-selectbox__trigger::after {
	content: "\f078";
}
.fancybox-close {
	top: 12px;
	right: 17px;
	width: 20px;
	height: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex !important;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	color: #4f5354;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 21px;
	border-radius: 50%;
	background:none !important;
}
.fancybox-close:before {
	content: "\f00d";
}
#modal-parametrs .title-modal {
	font-size: 18px;
}
.article .title-page {
	font-weight: 700;
	max-width: 480px;
	padding-bottom: 15px;
}
.article__date {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	padding-bottom: 15px;
	color: #6c8b8d;
}
.article {
	line-height: 24px;
}
.article i {
	font-weight: 500;
}
.title-middle {
	font-size: 24px;
	padding-bottom: 25px;
	line-height: 1.2;
	font-weight: 500;
	color: #324448;
}
.article p {
	margin-bottom: 20px;
}
blockquote {
	padding: 13px 25px;
	padding-right: 0;
	font-weight: 500;
	max-width: 665px;
	color: #6c8b8d;
	margin: 0;
	margin-bottom: 30px;
	border-left: 2px solid #6c8b8d;
}
blockquote p {
	margin: 0 !important;
}
.article__image img {
	max-width: 100%;
	height: auto;
}
.article ul {
	padding-bottom: 10px;
}
.article li {
	margin-bottom: 20px;
}
.article li::before {
	content: "•";
	margin-right: 10px;
}
.row_article {
	margin-bottom: 35px;
}
.row_article p {
	margin-top: 20px;
}
.item-article {
	display: block;
}
.item-article__image {
	height: 238px;
	margin-bottom: 18px;
	display: block;
}
.item-article__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-article__date {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.2;
	font-weight: 500;
	color: #6c8b8d;
	display: block;
}
.item-article__name {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 20px;
	color: #324448;
	transition: all 0.3s;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-article__text {
	line-height: 24px;
	color: #4f5354;
	transition: all 0.3s;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-article:hover .item-article__name {
	color: #6c8b8d;
}
.sidebar-articles .item-article {
	margin-bottom: 74px;
}
.sidebar-articles {
	padding-left: 40px;
}
.col_pr {
	padding-right: 0;
}
.article {
	padding-bottom: 35px;
}
.catalog .title-page {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f1f3f0;
	text-align: center;
}
.row_catalog {
	margin: 0 -30px;
}
.row_catalog > div {
	padding: 0 30px;
	margin-bottom: 30px;
}
.catalog {
	padding-top: 23px;
	padding-bottom: 42px;
}
.checkbox {
	color: #4f5354;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 4px 0 0 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid rgba(108,139,141,0.5);
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 20px;
	height: 20px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #4f5354;
	font-size: 10px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}

.pager {
	margin-top: 30px;
	font-size: 18px;
	line-height: 1.2;
	height: 38px;
	padding: 0 30px;
	font-weight: 400;
	position: relative;
	color: #4f5354;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	margin: 0 20px;
	transition: all 0.3s;
	color: #4f5354;
}
.page-numbers:hover {
	color: #6c8b8d;
}
.prev.page-numbers,
.next.page-numbers {
	width: 30px;
	height: 38px;
	color: #324448 !important;
	font-size: 14px;
	margin: 0;
	background-color: #f1f3f0;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.next.page-numbers {
	right: 0;
	left: auto;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	background-color: #d1d1d1;
} 
.row_news {
	margin: 0 -33px;
}
.row_news > div {
	padding: 0 33px;
	margin-bottom: 65px;
}
.news {
	padding-top: 50px;
	padding-bottom: 60px;
}
.pager_right {
	margin-top: 0;
	padding: 0;
	justify-content: flex-end;
} 
.pager_right .prev.page-numbers,
.pager_right .next.page-numbers {
	position: relative;
	background-color: transparent !important;
	width: initial;
	height: initial;
	font-size: 18px;
	padding: 0;
}
.pager_right .prev.page-numbers:hover,
.pager_right .next.page-numbers:hover {
	color: #6c8b8d !important;
}
.pager_right .page-numbers {
	width: 35px;
	height: 35px;
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.pager_right .page-numbers:hover,
.pager_right .page-numbers.current {
	background-color: #f1f3f0;
	color: #324448;
}
.pager_right .prev.page-numbers {
	margin-right: 25px;
}
.pager_right .next.page-numbers {
	margin-left: 25px;
}
.page-numbers.dots {
	pointer-events: none;
}
.block-form {
	padding: 30px 50px;
	padding-top: 22px;
	background-color: #f1f3f0;
}
.vacancies {
	padding-top: 30px;
	padding-bottom: 50px;
}
.vacancies .title-section {
	padding-bottom: 30px;
	text-align: center;
}
.item-question__content strong {
	font-weight: 500;
}
.vacancies .block-form {
	width: 370px;
	float: right;
}
.col_vacancies {
	padding-right: 70px;
}
.checkbox_simple {
	font-size: 13px;
}
.checkbox_simple label > span:before,
.checkbox_simple label > span:after {
	width: 15px;
	height: 15px;
}
.checkbox_simple label > span {
	padding: 3px 0 0 23px;
}
.checkbox_simple label > span:before {
	background-color: transparent;
}
.checkbox_simple label > span:after {
	font-size: 9px;
	top: 4px;
}
.block-form .btn-main {
	height: 44px;
	width: 100%;
}
.block-form .checkbox_simple {
	margin-top: 25px;
}
.block-form .title-middle {
	padding-bottom: 20px;
	text-align: center;
}
.file-upload input {
	opacity: 0;
	position: absolute;	
	top: 0;
	left: 0;
	visibility: visible;
	pointer-events: none;
}
.file-upload {
	font-size: 13px;
	margin-bottom: 26px;
	position: relative;
	text-align: center;
	color: #6c8b8d;
}
.file-upload label {
	cursor: pointer;
}
.file-upload i {
	font-size: 15px;
	color: #000;
}
.name-upload { 
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
}
.questions-page .title-section {
	padding-bottom: 30px;
	text-align: center;
}
.questions-page {
	padding-top: 30px;
	padding-bottom: 50px;
}
.contacts {
	padding-top: 30px;
	padding-bottom: 45px;
}
.contact-block {
	padding: 30px;
	font-size: 18px;
	line-height: 24px;
	color: #324448;
	font-weight: 500;
	max-width: 380px;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #f1f3f0;
}
.contact-block strong {
	font-weight: 700;
}
.contact-block p a {
	color: #324448;	
}
.contact-block_center {
	max-width: 412px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
	background-color: transparent;
}
.block-video {
	margin-top: 30px;
	display: inline-block;
	position: relative;
}
.block-video img {
	max-width: 100%;
	height: auto;
}
.block-video i {
	font-size: 44px;
	color: #6c8b8d;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 44px;
	height: 44px;
	z-index: 2;
	position: absolute;
}
.block-video i::after {
	position: absolute;
	display: block;
	content: " ";
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}
.contacts .block-form {
	max-width: 380px;
	float: right;
}
.block-form .item-form textarea {
	height: 100px;
	padding-top: 10px;
}
.contacts .title-section {
	padding-bottom: 35px;
	text-align: center;
}
.contact-block .list-social {
	margin-bottom: 15px;
	margin-top: auto;
}
#map {
	margin-top: 35px;
	height: 490px;
	width: 100%;
}
.block-ask .item-form textarea {
	padding-top: 10px;
	height: 110px;
}
.block-ask {
	padding: 20px 325px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #f1f3f0;
	text-align: center;
}
.block-form-sizes .btn-main,
.block-ask .btn-main {
	height: 44px;
	min-width: 197px;
}
.block-ask .checkbox {
	margin-top: 18px;
}
.block-ask .item-form textarea,
.block-ask .jq-selectbox__select-text,
.block-ask  .item-form input,
.block-ask .item-form textarea {
	border-color: #6c8b8d;
}
.questions-page .item-question:last-child {
	border-bottom: 1px solid #f1f3f0;
}

.modal-block .table-block__wrap {
	width: 1020px;
	max-width: 100%;
	margin: 0 auto;
}
.table-block__wrap .title-page {
	text-align: center;
}
.modal-block .table-block__wrap .title-page {
	padding-bottom: 20px;
}
.sidebar-catalog {
	padding: 19px 15px;
	padding-top: 5px;
	padding-right: 12px;
	background-color: #f6f6f6;
}
.item-filter__head {
	padding: 15px 0;
	font-weight: 500;
	color: #324448;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
}
.item-filter__head i {
	font-size: 12px;
	transition: all 0.3s;
}
.item-filter.active .item-filter__head i {
	transform: rotate(180deg);
}
.sidebar-catalog .checkbox {
	margin-top: 8px;
}
.sidebar-catalog .checkbox:first-child {
	margin-top: 0;
}
.checkbox__color {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid rgba(108,139,141,0.5);
}
.irs--flat .irs-line {
	height: 3px;
	top: 0;
	background-color: #6c8b8d;
	border-radius: 1.5px;
}
.irs--flat .irs-bar {
	height: 3px;
	background-color: #324448;
	top: 0;
	border-radius: 1.5px;
}
.irs--flat .irs-handle {
	top: -6px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-color: #324448;
	border: 2px solid #f6f6f6;
	border-radius: 50%;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before,
.irs--flat .irs-min, .irs--flat .irs-max,
.irs--flat .irs-handle i {
	display: none !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	top: 15px;
	font-size: 13px;
	line-height: 1.2;
	font-weight: 400;
	color: #4f5354;
	background-color: transparent !important;
}
.range-catalog .item-form input {
	font-size: 16px;
}
.range-catalog .row > div:first-child::after {
	position: absolute;
	display: block;
	content: "—";
	font-size: 16px;
	line-height: 1.2;
	top: 13px;
	left: 100%;
	margin-left: -8px;
	color: #4f5354;
}
.irs--flat {
	height: 34px;
	margin-top: 12px;
}
.sidebar-catalog .range-catalog {
	padding-right: 5px;
}
.buttons-sidebar {
	padding-top: 25px;
	display: flex;
	align-items: center;
}
.buttons-sidebar .btn-main {
	height: 44px;
	padding: 0 19px;
	border-radius: 0;
	font-size: 14px;
	margin-right: 10px;
}
.col_catalog {
	padding-left: 30px;
}
.item-filter__content {
	display: none;
}
.sorting-catalog {
	margin-bottom: 18px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.sorting-catalog p {
	margin-right: 10px;
	font-weight: 500;
}
.link-sorting {
	margin-right: 20px;
	display: inline-block;
	border-bottom: 1px dotted transparent;
	transition: all 0.3s;
	color: #4f5354;
}
.link-sorting.active {
	color: #6c8b8d;
	border-color: #6c8b8d;
}
.link-sorting:hover {
	color: #6c8b8d;
}
.link-sorting:last-child {
	margin-right: 0;
}
.table-block {
	max-width: 1140px;
	margin: 0 auto;
	background-color: #f6f6f6;
	padding: 50px;
}
.table-wrap table {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}
.table-wrap table td {
	padding: 15px 5px;
	border-right: 1px solid #f6f6f6;
	vertical-align: middle;
}
.table-wrap table thead tr th {
	padding-top: 10px;
	padding-bottom: 15px;
	border-right: 1px solid #f6f6f6;
}
.table-wrap table thead tr th:last-child {
	border-right: none;
}
.table-wrap table tbody td:last-child {
	border: none;
}
.table-wrap table thead {
	background: none;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	color: #324448;
}
.table-wrap table tbody td {
	width: 2%;
}
.table-wrap table tbody tr:nth-child(odd) td {
	background-color: #f6f6f6;
}
.table-wrap table tbody td {
	font-size: 14px;
	font-weight: 500;
	color: #324448;
	white-space: nowrap;
	text-align: center;
}
.table-wrap table tbody td:first-child {
	text-align: left;
	font-size: 16px;
}
.table-block__wrap {
	background-color: #fff;
	width: 100%;
	position: relative;
	padding: 15px 17px;
	padding-bottom: 0;
}
.table-block .title-page {
	padding-bottom: 20px;
	text-align: center;
}
.sizes .title-section {
	padding-bottom: 25px;
	text-align: center;
}
.sizes {
	padding-top: 30px;
}
.block-form-sizes {
	padding: 25px 145px;
	padding-bottom: 35px;
	max-width: 1140px;
	margin: 0 auto;
	background-color: #f6f6f6;
	text-align: center;
}
.title-form {
	font-size: 18px;
	padding-bottom: 18px;
	font-weight: 500;
	text-align: center;
}
.block-form-sizes .row {
	margin: 0 -10px;
}
.block-form-sizes .row > div {
	padding: 0 10px;
}
.title-page_block {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.sizes p {
	margin-bottom: 15px;
	line-height: 24px;
	color: #4f5354;
}
.sizes .block-ask {
	margin-top: 10px;
}
.sizes {
	padding-bottom: 35px;
}
.sizes .block-form-sizes {
	margin-bottom: 35px;
}
.modal-wrap-card {
	padding: 30px;
	width: 1140px;
	max-width: 100%;
	float: right;
	background-color: #fff;
}
.modal-wrap-card  .slider-for {
	max-width: 390px;
	margin-left: -56px;
}
.modal-wrap-card .card__right {
	margin-left: -100px;
}
.modal-wrap-card .slider-for__item {
	height: 500px;
}
.modal-wrap-card .slider-nav__item {
	height: 133px;
	margin: 5px 0;
}
.modal-wrap-card .slider-nav {
	max-width: 106px;
}
.modal-wrap-card .slider-nav .slick-arrow {
	width: 106px;
}
.slider-nav__item {
	border: 1px solid transparent;
	transition: all 0.3s;
}
.slick-current .slider-nav__item {
	border-color: #6c8b8d;
}
.list-colors-modal {
	max-width: 430px;
}
.list-colors-modal .slick-next {
	right: -40px;
}
.modal-wrap-card .card__text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;	
}
.card.modal-wrap-card .prices-wrap {
	padding-bottom: 10px;
}
.modal-wrap-card .card__head {
	padding-top: 12px;
}
.list-sizes_model .item-size {
	padding: 0 16px;
}


/*new pages*/
.personal {
	padding-top: 40px;
	padding-bottom: 80px;
}
.personal-nav a {
	height: 54px;
	padding: 0 25px;
	font-weight: 500;
	color: #324448;
	display: flex;
	align-items: center;
	transition: all 0.3s;
}
.personal-nav a:hover,
.personal-nav .active a {
	background-color: #b6cdb1;
	color: #fff;
}
.personal-nav {
	background-color: #f6f6f6;
}
.personal .title-page {
	padding-bottom: 20px;
	margin-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #f1f3f0;
}
.item-form_page {
	display: flex;
	justify-content: space-between;
}
.title-input {
	margin-top: 10px;
}
.item-form_page textarea,
.item-form_page input {
	width: 100%;
	margin-bottom: 0;	
	max-width: 270px;
}
.row_form {
	margin: 0 -70px;
}
.row_form > div {
	padding: 0 70px;
}
.buttons-form {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.buttons-form .btn-main {
	height: 44px;
	min-width: 198px;
	margin-right: 20px;
}
.buttons-form .btn-main:last-child {
	margin-right: 0;
}
.title-input {
	padding-right: 10px;
}
.item-order__top {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 500;
	color: #6c8b8d;
	display: flex;
	align-items: center;
}
.item-order__top span {
	margin-right: 14px;
}
.item-order__top span:last=child {
	margin-right: 0;
}
.item-order p {
	margin: 0;
	line-height: 24px;
}
.item-order .title-middle {
	padding-bottom: 16px;
}
.item-order__right {
	text-align: right;
}
.item-order .price-new  {
	color: #6c8b8d;
	margin-left: 14px;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 700;
}
.item-order .price-new span {
	font-weight: 400;
}
.price-order {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.item-order__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.item-order__buttons .btn-main {
	height: 42px;
	min-width: 198px;
	padding: 0 20px;
	margin-right: 20px;
}
.item-order__buttons .btn-main:last-child {
	margin-right: 0;
}
.item-order {
	margin-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.item-order .link-main {
	margin-bottom: 19px;
	display: inline-block;
}
.item-order__left {
	padding-right: 20px;
}
.item-order__right .item-order__top {
	justify-content: flex-end;
}
.trach-text {
	color: #4f5354;
	text-align: left;
}
.trach-text span {
	font-weight: 500;
}
.item-order__buttons .trach-text {
	margin-right: 32px;
}
.wholesaler .title-section	{
	margin-bottom: 20px;
	font-weight: 700;
}
.wholesaler {
	padding-top: 30px;
	padding-bottom: 80px;
}
.tab-pane-wholesaler {
	display: none;
}

.category-nav {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4F5354;
	cursor: pointer;
	transition: all 0.3s;
}
.category-nav:hover,
.category-nav.active {
	background-color: #b6cdb1;
}
.slider-categories {
	padding: 0 150px;
	margin-bottom: 45px;
	border-top: 1px solid #F1F3F0;
	border-bottom: 1px solid #F1F3F0;
}
.wholesaler-block {
	padding: 28px;
	background-color: #f6f6f6;
}
.title-min {
	font-weight: 500;
}
.table-wholesaler {
	width: 100%;
	border-spacing: 0;
}
.wholesaler-block__image {
	margin-bottom: 22px;	
	height: 524px;
}
.wholesaler-block__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.row_wholesaler > .col-lg-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 36.333333%;
	flex: 0 0 36.333333%;
	max-width: 36.333333%;
}
.row_wholesaler > .col-lg-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 63.666667%;
	flex: 0 0 63.666667%;
	max-width: 63.666667%;
}
.item-quantity .quantity input {
	font-size: 16px;
	padding: 0 11px;
	width: 70px;
}
.item-quantity {
	text-align: center;
	position: relative;
}
.item-quantity__value {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D5D5D5;
}
.item-quantity .quantity {
	opacity: 0;
	margin: 0 auto;
	transition: all 0.3s;
}
.table-wholesaler td {
	transition: all 0.3s;
}
.table-wholesaler tr:hover .item-quantity .quantity {
	opacity: 1;
}
.table-wholesaler tr:hover td {
	background: rgba(182, 205, 177, 0.2);
}
.all-price,
.wholesale-price,
.amount-wholesaler {
	transition: all 0.3s;
}
.all-price.active,
.amount-wholesaler.active {
	font-weight: 700;
}
.wholesale-price.active {
	font-weight: 500;
}
.title-wholesaler {
	padding: 5px 16px;
	padding-right: 0;
	display: block;
	transition: all 0.3s;
	color: #4F5354;
}
.table-wholesaler td {
	text-align: center;
}
.table-wholesaler th {
	padding-bottom: 11px;
	font-weight: 500;
}
.table-wholesaler th:first-child {
	text-align: left;
}
.table-wholesaler tbody {
	background-color: #fff;
}
.table-wholesaler tbody td:first-child {
	text-align: left;
	border-left: 1px solid #6C8B8D;	
}
.table-wholesaler tbody td:last-child {
	border-right: 1px solid #6C8B8D;		
}
.table-wholesaler tbody tr:first-child td {
	border-top: 1px solid #6C8B8D;
}
.table-wholesaler tbody tr:last-child td {
	border-bottom: 1px solid #6C8B8D;
}
.table-wholesaler td:nth-child(2),
.table-wholesaler td:nth-child(3),
.table-wholesaler td:nth-child(4),
.table-wholesaler td:nth-child(5), 
.table-wholesaler td:nth-child(6) {
	width: 70px;
}
.bottom-table {
	padding-top: 10px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bottom-table  div:last-child {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}
.item-wholesale {
	font-size: 13px;
	line-height: 20px;
	min-height: 100%;
	display: flex;
	background: #F6F6F6;
	transition: all 0.3s;
	position: relative;
}
.item-wholesale__content {
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
}
.item-wholesale__bottom {
	padding-top: 10px;
	margin-top: auto;
	display: flex;
	align-items: center;
}
.item-wholesale__amount {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	width: 40px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 11px;
	text-align: center;
	background: #6C8B8D;
	border-radius: 20px;
}
.item-wholesale__title {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 8px;
	font-weight: 500;
}
.row_wholesale > div {
	margin-top: 30px;
}
.item-wholesale__image {
	min-height: 160px;
	width: 160px;
	flex: none;
	overflow: hidden;
}
.item-wholesale__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-wholesale:hover .item-wholesale__image img {
	transform: scale(1.05);
}
.item-wholesale .link-main span {
	font-weight: 500;
	margin-left: 6px;
}
.item-wholesale .link-main  {
	position: relative;
	z-index: 2;
}
.item-wholesale__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.modal-block .wholesaler-block {
	width: 1170px;
	padding: 35px;
	margin: 0 auto;
	max-width: 100%;
}
.login-wrap {
	width: 380px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
.tabs-login {
	padding: 19px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs-login a {
	margin: 0 12px;
	color: #4f5354;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.tabs-login .active a,
.tabs-login a:hover {
	color: #6c8b8d;
	border-bottom: 1px dotted #6c8b8d;
}
.tab-container-login {
	padding: 24px 55px;
	text-align: center;
	background-color: #f1f3f0;
}
.login-wrap .title-middle {
	padding-bottom: 16px;
	text-align: center;	
}
.login-wrap .btn-main {
	height: 44px;
	font-size: 12px;
	padding: 0 30px;
	margin-top: 10px;
	margin-bottom: 18px;
}
.login-wrap .item-form {
	margin-bottom: 12px;
}
.tab-pane-login {
	display: none;
}
.tab-pane-login:first-child {
	display: block;
}
.basket {
	padding-top: 30px;
	padding-bottom: 60px;
}
.ordering .title-section,
.basket .title-section {
	padding-bottom: 25px;
	font-weight: 700;
	text-align: center;
}
.order-block {
	padding: 33px 52px;
	padding-bottom: 43px;
	background-color: #f1f3f0;
}
.order-block__oldprice {
	font-size: 18px;
	margin-bottom: 15px;
font-family: 'Bebas Neue', sans-serif;
font-weight: 400;
text-decoration: line-through;
color: #6c8b8d;
white-space: nowrap;
}
.order-block__price {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Bebas Neue', sans-serif;
	white-space: nowrap;
}
.order-block__right {
	text-align: right;
}
.order-block__line {
	margin-bottom: 22px;
	display: flex;
	justify-content: space-between;
}
.order-block__left {
	line-height: 19px;
	font-weight: 500;
	max-width: 80px;
}
.order-block__left strong {
	display: block;
	line-height: 24px;
	font-size: 18px;
}
.order-block__descr {
	font-size: 14px;
line-height: 1.2;
font-weight: 500;
margin-bottom: 18px;
color: #6c8b8d;
	text-align: center;
}
.order-block .btn-main {
	font-size: 14px;
	height: 44px;
	width: 100%;
	padding: 0 12px;
}
.order-block .title-middle {
	text-align: center;
}
.item-ordering__content,
.item-basket__content {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.item-basket__available {
	font-size: 14px;
line-height: 1.2;
font-weight: 500;
color: #6c8b8d;
}
.item-basket {
	padding: 19px 0;
	border-top: 1px solid #f1f3f0;
	display: flex;
	position: relative;
}
.item-basket__info {
display: flex;
    flex-direction: column;
}
.item-basket__image {
	width: 128px;
height: 180px;
margin-right: 35px;
flex: none;
}
.item-basket__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-basket__units .item-size {
	display: inline-flex;
}
.item-basket__units {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
}
.item-price {
	font-size: 24px;
	font-family: 'Bebas Neue', 'Cera Pro';
	font-weight: 600;
color: #6c8b8d;
}
.item-price span {
	font-weight: 400;
}
.item-basket__title {
	font-weight: 500;
	padding-bottom: 9px;
}
.item-basket__unit {
	margin-right: 22px;
}
.item-basket__unit:last-child {
	margin-right: 0;
}
.item-basket__unit .item-price {
	margin-top: 7px;
}
.item-price_old {
	font-size: 18px;
	text-decoration: line-through;
}
.item-price_main {
	font-size: 30px;
	color: #324448;
}
.item-ordering__right,
.item-basket__right {
	margin-top: auto;
	text-align: right;
}
.item-ordering__descr,
.item-basket__descr {
	font-size: 14px;
line-height: 1.2;
font-weight: 500;
color: #6c8b8d;
}
.item-ordering__right {
	margin-top: 0;
}
.item-ordering .item-price_old {
	margin-bottom: 4px;
}
.item-basket .item-price_old {
	margin-bottom: 10px;
}
.item-ordering .item-price_main {
	margin-bottom: 2px;
}
.item-basket .item-price_main {
	margin-bottom: 5px;
}
.remove-basket {
	top: 29px;
	right: 0;
	color: #4f5354;
	cursor: pointer;
	position: absolute;
}
.item-basket__unit .item-size {
	cursor: initial;
	    border: 1px solid rgba(108,139,141,0.5);
	background-color: rgba(157,192,173,0.0);
	    color: #4f5354;
}
.item-ordering .title-middle {
	padding-bottom: 0;
	margin-bottom: 15px;
	display: block;
}
.item-ordering {
	padding: 20px 0;
	border-top: 1px solid #f1f3f0;
	display: flex;
}
.item-ordering__image {
	width: 60px;
height: 85px;
margin-right: 32px;
	display: block;
	flex: none;
}
.item-ordering__image img {
		height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-ordering__units {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.item-ordering__unit {
	margin-right: 28px;
	display: flex;
	align-items: center;
}
.item-ordering__unit:last-child {
	margin-right: 0;
}
.item-ordering__title {
	margin-right: 11px;
	font-weight: 500;
}
.item-ordering__value {
	font-size: 18px;
}
.ordering {
	padding-top: 40px;
	padding-bottom: 30px;
}
.unit-ordering__head {
	font-size: 24px;
	padding: 20px 0;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #f1f3f0;
	cursor: pointer;
}
.unit-ordering__head i {
	font-size: 14px;
	color: #6c8b8d;
	transition: all 0.3s;
}
.unit-ordering.active .unit-ordering__head i {
	transform: rotate(180deg);
}
.item-ordering + .unit-ordering {
	margin-top: 20px;
}
.unit-ordering__content {
	padding-top: 10px;
	padding-bottom: 40px;
	display: none;
}
.title-ordering {
	margin-bottom: 8px;
	font-weight: 500;
}
.radio-text {
	margin-right: 10px;
}
.radio-text label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
} 
.radio-text span {
	font-size: 18px;
	height: 45px;
	padding: 0 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
background-color: rgba(157,192,173,0.0);
border: 1px solid rgba(108,139,141,0.5);
cursor: pointer;
transition: all 0.3s;
}
.radio-text label input:checked + span {
	background-color: #9dc0ad;
	color: #fff;
	border-color: #9dc0ad;
}
.radios-wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ordering-region .item-form input {
	font-size: 18px;
}
.ordering-region {
	display: flex;
}
.item-form_index {
	max-width: 98px;
}
.ordering-region__item_location {
	flex: 1;
}
.ordering-region__item {
	margin-left: 14px;
}
.ordering-region__item:first-child {
	margin-left: 0;
}
.ordering-region__item .item-form {
	margin-bottom: 0;
}
.buttons-ordering {
	padding-top: 35px;
	display: flex;
	align-items: center;
}
.buttons-ordering .btn-main {
	font-size: 12px;
	padding: 0 33px;
	height: 44px;
	margin-right: 9px;
}
.delivery-ordering {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price-ordering {
	display: flex;
	align-items: center;
}
.price-ordering .item-price {
	margin-left: 11px;
}
#map-ordering {
	height: 570px;
	margin-bottom: 40px;
	width: 100%;
	background-color: #ccc;
}
.contact-ordering {
	font-size: 18px;
	line-height: 24px;
	margin-top: 20px;
	font-weight: 500;
}
.contact-ordering strong {
	display: block;
}
.item-form textarea {
	padding-top: 10px;
	height: 112px;
}
.unit-ordering .col-md-7 .item-form_page textarea,
.unit-ordering .col-md-7 .item-form_page input {
	max-width: 69%;
}
.clear-input {
	width: 30px;
	font-size: 13px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #4f5354;
}
.item-form {
	position: relative;
}
.ordering-region__item_location input {
	padding-right: 27px;
}